@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
    align-content: center;
    width: 100%;
    background-color: rgb(224, 227, 227);
}
main {
    /* border: 1px solid black; */
    border: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 7em 0 7em;
    background-color: white;
}
#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
#information {
    width: 50%;
    margin: 0.5em 0 0 2em;
}
#Image{
    width: 50%;
}
#Image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-top-right-radius: 20px;
}

hr {
    margin: 2em 2em 0 2em;
    border: none;
    height: 2px;
    background-color: rgb(221, 221, 221);
}
#last {
    text-align: center;
}
#last p{
    margin: 1.5em;
    font-size: 10px;
}

#information .head {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: -10px;
}
.head h4 {
    border: 2px solid rgb(206, 40, 40);
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 10px;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(206, 40, 40);;
}
.subhead {
    margin-bottom: 0.5em;
}
.subhead h2{
    margin: 0;
}
.subhead p {
    margin: 0.5em 0 0 0;
    color: grey;
}
.pass #headpas{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
}
.pass input {
    padding: 1em;
    width: 100%;
    margin: 0.5em 0 0.5em 0;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
}
.pass .explain {
    margin: 5px 0;
    font-size: 13px;
}

/*js warning display=none*/
#error {
    margin: 0;
    font-size: 13px; /*top right bottom left*/
}

#Loginto {
    width: 100%;
    padding: 1em;
    border: transparent;
    border-radius: 10px;
    background-color: rgb(206, 40, 40);;
    color: white;
    cursor: pointer;
}


